form(class="form-horizontal", method="POST")
  .form-group
    label.col-sm-2.control-label(for="cocktailName") Name
    .col-sm-10
      if isEdit
        input#cocktailName.form-control(name="cocktailName", type="text", value=cocktail.name)
      else
        input#cocktailName.form-control(name="cocktailName", type="text")
  .form-group
    label.col-sm-2.control-label(for="cocktailDesc") Description
    .col-sm-10
      if isEdit
        textarea#cocktailDesc.form-control(name="cocktailDesc", rows="3")= cocktail.description
      else
        textarea#cocktailDesc.form-control(name="cocktailDesc", rows="3")
  .form-group.ingredient-labels
    label.col-sm-2.control-label Ingredients
    .col-sm-2
      label
        small Amount
    .col-sm-2
      label
        small Unit
    .col-sm-6
      label
        small Ingredient
  if isEdit && cocktail.ingredients.length
    p
      strong Show ingredients
  .form-group#add-ingredient-control
    .col-sm-12
      p.text-right
        button#add-ingredient.btn.btn-default(type="button") Add Ingredient
  .form-group#add-step-control
    .col-sm-12
      p.text-right
        button#add-step.btn.btn-default(type="button") Add Step
  .form-group
    label.col-sm-2.control-label(for="cocktailTags") Tags
    .col-sm-10
      if isEdit && cocktail.tags.length
        textarea#cocktailTags.form-control(name="cocktailTags", rows="3")= cocktail.tags.join(', ')
      else
        textarea#cocktailTags.form-control(name="cocktailTags", rows="3")
  hr
  .form-group
    .col-sm-12
      p
        if isEdit
          a.btn.btn-default(href="/#view-all") Cancel
          span &nbsp;&nbsp;
        input.btn.btn-primary(type="submit", value="Save Cocktail")