mixin ingredientFields(amount, unit, name)
  .form-group
    label.col-sm-2.control-label
      if ingredientCounter > 0
        span.glyphicon.glyphicon-remove
    .col-sm-2
      input.form-control(name="cocktailPartsAmount[]", type="text", value=amount)
    .col-sm-2
      select.form-control(name="cocktailPartsUnit[]")
        option(val="", selected= unit == "Select...") Select...
        option(val="oz", selected= unit == "Ounces") Ounces
        option(val="tbl", selected= unit == "Tablespoons") Tablespoons
        option(val="tsp", selected= unit == "Teaspoons") Teaspoons
        option(val="dash", selected= unit == "Dashes") Dashes
        option(val="splash", selected= unit == "Splashes") Splashes
    .col-sm-6
      input.form-control(name="cocktailPartsName[]", type="text", value=name)
  - ingredientCounter++