extends index

block content

  ul#view-nav.nav.nav-pills
    li
      a(href="#view-all") View
    if isAdmin
      li
        a(href="#add") Add
      li
        a(href="#tags") Tags
      li
        a(href="/logout") Logout
    else
      li
        a(href="#login") Login
  .tab-content

    div#view-all.tab-pane
      .page-header
        h2 View all
      include partials/all-cocktails

    div#add.tab-pane
      .page-header
        h2 Add one
      include partials/add-form

    div#tags.tab-pane
      .page-header
        h2 Tags
      include partials/tags-form

    div#login.tab-pane
      .page-header
        h2 Like a boss
      include partials/auth-form