include partials/mixins

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Vast+Shadow")

  body(role="document")
    .container
      .page-header
        h1 Cocktails
      .container

      block content

      .container.text-center
        p
          small
            a(href="https://github.com/joshcanhelp/cocktail-manager") View on Github

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/main.js")