include partials/mixins

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Vast+Shadow")

  body(role="document")
    .container
      .page-header
        h1 Cocktails
      .container

      block content

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/main.js")